.body{
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto";
}
.bg-container{
    background-color: rgb(238, 189, 149);
    min-height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.inner-container{
    background-color: rgb(23, 2, 43);
    padding: 30px;
    min-height: 80vh;
    width: 300px;
    max-width: 700px; 
    flex-grow: 1;
}
.card{
    background-color: rgb(250, 252, 250);
    min-height: 70vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.heading{
    text-align: center;

}
.para{
    text-align: center;
    color:rgb(48, 48, 49)
}
.die-component{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 20px;
    text-align: center;
    background-color: rgb(200, 205, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.die-container{
    display: flex;
    flex-direction: column;
    width: 250px;
    

    

}
.die-row{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;

}
.button{
    background-color:rgb(4, 4, 107);
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    color: white;
    width: 80px;
}